<div class="card">
    <img class="card-img-top" [src]="heroe.thumbnail" [alt]="heroe.name">
    <div class="card-body">
        <h4 class="card-title">{{ heroe.name }}</h4>
        <p class="card-text">{{ heroe.bio }}</p>
        <button (click)="heroeDetails()" class="btn btn-primary btn-block">
            View profile
        </button>
        <!--
                another way to redirect
                <a [routerLink]="['/heroe', id]">Here</a>
            -->
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>